.main-box {
  background-color: rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  width: 100%;
  height: 680px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition-duration: 0.2s;
}

.main-box:hover {
  transition-duration: 0.2s;
}

.main-box > * {
  width: 260px;
}

.item-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  padding: 0;
}

.item-name {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 0 26px;
}

.image-box img {
  width: inherit;
}

.description-box h2 {
  color: white;
}

.description-box h2 {
  font-size: 20px;
  text-align: center;
  margin: 3px;
}

.description-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 163px;
  margin-bottom: 10px;
  overflow-y: auto;background-color: rgba(0, 0, 0, 0.5);
}

.description-box ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: white;
  font-size: 15px;
  padding: 3px;
}

.description-box ul li:last-child {
  border: none;
}

.weigth-price {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.weigth-price p {
  margin: 10px;
  color: rgb(238, 238, 238);
}

.buttons-box {
  height: 55px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.buttons {
  outline: none;
  padding: 7px;
  width: 100%;
  height: 52px;
  cursor: pointer;
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  transition-duration: 0.2s;
}

.cart-btn-add:hover {
  color: rgb(48, 240, 0);
  border-color: rgb(48, 240, 0);
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.2s;
}

.cart-btn-details:hover {
  color: rgb(255, 208, 0);
  border-color: rgb(255, 208, 0);
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.2s;
}


