@font-face {
  font-family: 'd_Kallisto';
  src: url(../../fonts/d_Kallisto.otf);
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../../images/others/fon.jpg);
}

body * {
  font-family: d_Kallisto, Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(44, 44, 44);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  background-image: url(../../images/others/bars-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url(../../images/others/angle-up-solid.svg);
  background-color: rgb(44, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url(../../images/others/angle-down-solid.svg);
  background-color: rgb(44, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: url(../../images/others/angle-left-solid.svg);
  background-color: rgb(44, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url(../../images/others/angle-right-solid.svg);
  background-color: rgb(44, 44, 44);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}