
@keyframes ldio-dumkwfp3l2e {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.ldio-dumkwfp3l2e div {
  left: 118.34px;
  top: 57.339999999999996px;
  position: absolute;
  animation: ldio-dumkwfp3l2e linear 1s infinite;
  background: #0a0a0a;
  width: 7.32px;
  height: 26.84px;
  border-radius: 0px / 0px;
  transform-origin: 3.66px 64.66px;
}.ldio-dumkwfp3l2e div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8333333333333334s;
  background: #0a0a0a;
}.ldio-dumkwfp3l2e div:nth-child(2) {
  transform: rotate(60deg);
  animation-delay: -0.6666666666666666s;
  background: #0a0a0a;
}.ldio-dumkwfp3l2e div:nth-child(3) {
  transform: rotate(120deg);
  animation-delay: -0.5s;
  background: #0a0a0a;
}.ldio-dumkwfp3l2e div:nth-child(4) {
  transform: rotate(180deg);
  animation-delay: -0.3333333333333333s;
  background: #0a0a0a;
}.ldio-dumkwfp3l2e div:nth-child(5) {
  transform: rotate(240deg);
  animation-delay: -0.16666666666666666s;
  background: #0a0a0a;
}.ldio-dumkwfp3l2e div:nth-child(6) {
  transform: rotate(300deg);
  animation-delay: 0s;
  background: #0a0a0a;
}
.loadingio-spinner-spinner-c60ali2nmpb {
  width: 244px;
  height: 244px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-dumkwfp3l2e {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dumkwfp3l2e div { box-sizing: content-box; }
