.CAW-main {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  top: 45px;
  right: -100px;
  opacity: 1;
  transition-duration: 0.2s;
}

.CAW-back-block {
  z-index: 0;
  position: absolute;
  left: -20%;
  background: white;
  width: 100%;
  height: 100%;
}

.CAW-main-hide {
  top: 30px;
  opacity: 0;
  pointer-events: none;
}

.CAW-main::before {
  content: '';
  position: absolute;
  top: -15px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid rgba(0, 0, 0, 0.75);
}

.CAW-main > h3 {
  margin: 5px;
}

.CAW-main > p {
  margin: 5px 10px;
  text-align: center;
  font-size: 12px;
}

.CAW-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CAW-btns > button {
  width: 55px;
  height: 25px;
  margin: 5px;
  background-color: white;
  outline: none;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
}

.CAW-btns > button:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: white;
}