.switch-box {
  position: absolute;
  margin: auto;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.switch-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 3px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}

.active-button {
  color: rgb(20, 20, 20);
  background-color: white;
  border-color: black;
}
