.display-settings-main {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items-kind {
  font-size: 40px;
  margin-bottom: 18px;
  margin-right: 40px;
}

.DS-h2 {
  border-bottom: transparent 5px solid;
  padding: 0 3px;
  color: rgb(20, 20, 20);
}

.select-div {
  position: relative;
  margin: 0px 30px 0px 5px;
}

.quantity-div {
  width: 80px;
}

.order-div {
  width: 242px;
}

.DS-ul {
  position: absolute;
  background-color: rgb(20, 20, 20);
  z-index: 2;
  padding: 0;
  width: calc(100% + 1px);
  margin-top: 0;
  transform: perspective(600px) rotateX(0deg);;
  transform-origin: top;
  transition-duration: 0.2s;
  opacity: 1;
}

.DS-ul-hide {
  transform: perspective(600px) rotateX(-90deg);
  opacity: 0.3;
  transition-duration: 0.2s;
}

.button-div {
  border-top-left-radius: 3px;
  position: relative;
  height: 25px;
  width: 100%;
  font-size: 15px;
  color: rgb(20, 20, 20);
  border-top: 1px solid rgb(20, 20, 20);
  border-left: 1px solid rgb(20, 20, 20);
  border-bottom: rgb(20, 20, 20) 5px solid;
  cursor: pointer;
}

.button-div h3 {
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10px;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgb(20, 20, 20);
  right: 0;
  bottom: 0;
  color: white;
  font-size: 33px;
}

.arrow > i {
  margin-top: 5px;
}

.arr-up {
  transform: scaleY(1);
  transition-duration: 0.2s;
}

.arr-down {
  transform: scaleY(-1);
  transition-duration: 0.2s;
}

.DS-ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 25px;
  padding: 0px 10px;
  color: white;
  border-bottom: 1px solid white;
  transition-duration: 0.3s;
  cursor: pointer;
}

.DS-ul li:hover {
  background-color: white;
  color: rgb(20, 20, 20);
  transition-duration: 0.3s;
}

.DS-ul li:last-child {
  border-bottom: none;
}
