.items-list-main-box {
  position: relative;
  padding-bottom: 100px;
  .loadingio-spinner-spinner-c60ali2nmpb {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 10px;
  justify-items: center;
  justify-content: center;
}
