.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

.shopping-cart-hide {
  display: none;
}

.cart-background {
  position: relative;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  border: 3px solid white;
  border-radius: 0px 30px 0px 30px;
  width: 1000px;
  max-width: 1000px;
  overflow: hidden;
  padding-bottom: 100px;
}

.cart-background h2 {
  text-align: right;
  font-size: 35px;
  padding-right: 50px;
  margin-bottom: 50px;
}

.row-div {
  display: grid;
  width: inherit;
  grid-template-columns: 1fr 1fr 1fr 100px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.row-div:last-child {
  border-bottom: none;
}

.cart-item-img {
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 2px rgb(255, 255, 255);
}

.cart-item-name {
  font-size: 25px;
  text-align: center;
}

.cart-item-count {
  text-align: center;
  width: auto;
  height: auto;
}

.btn-count-div {
  display: flex;
}

.btn-count {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: white;
  padding: 0;
  margin: 0;
  border-color: white;
  border-style: solid;
}

.count {
  border-width: 1px;
}

.btn-minus, .btn-plus {
  outline: none;
  width: 37px;
  height: 37px; 
  border-top-width: 1px;
  border-bottom-width: 1px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn-minus {
  border-left-width: 1px;
  border-right: none;
  border-radius: 37px 0px 0px 37px;
}

.btn-plus {
  border-right-width: 1px;
  border-left: none;
  border-radius: 0px 37px 37px 0px;
}

.btn-minus:hover {
  color: rgb(255, 208, 0);
  box-shadow: -2px 0px 7px 1px rgb(255, 208, 0);
  transition-duration: 0.2s;
  border-color: transparent;
}

.btn-plus:hover {
  color: rgb(48, 240, 0);
  box-shadow: 2px 0px 7px 1px rgb(48, 240, 0);
  transition-duration: 0.2s;
  border-color: transparent;
}

.btn-count-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.5);
  height: 30px;
  border-radius: 30px;
}

.delete-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  background: none;
  color: white;
  font-size: 25px;
  transition-duration: 0.2s;
}

.delete-btn:hover {
  color: rgb(255, 27, 27);
  box-shadow: 0px 0px 7px 2px rgb(255, 27, 27);
  border: none;
  transition-duration: 0.2s;
  border-color: transparent;
}

/* total - items -deliery price styles */

.total {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 220px;
  border-radius: 15px 0px 0px 0px;
}

.idt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: white 1px solid;
  padding: 0px 15px;
}

.idt-price:last-child {
  border-bottom: none;
}

.idt-price-hide {
  display: none;
}

.close-btn {
 position: absolute; 
 top: -17px;
 right: -32px;
 width: 85px;
 height: 55px;
 font-size: 22px;
 background-color: rgb(182, 18, 18);
 color: white;
 border: none;
 outline: none;
 cursor: pointer;
 transform: rotate(45deg);
 overflow: hidden;
}

.close-btn i {
  position: absolute;
  transform: rotate(-45deg);
  bottom: 5;
  left: 0;
  right: 0;
  transition-duration: 0.2s;
}

.close-btn:hover i {
  transform: rotate(135deg);
  transition-duration: 0.2s;
}

.back-to-shopping-div {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-shopping-btn {
  position: absolute;
  width: 400px;
  height: 40px;
  color: white;
  background: none;
  border: 2px solid white;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.back-to-shopping-btn:hover {
  border-color: rgb(48, 240, 0);
  box-shadow: 0px 0px 10px 1px rgb(48, 240, 0);
  transition-duration: 0.2s;
}
