@import '../../main.scss';

.shopping-cart {
  position: fixed;
  @extend %flex-center-center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition-duration: $anim-duration;
}

.shopping-cart-hide {
  background: none;
  transition-duration: $anim-duration;
  pointer-events: none;
}

.shopping-cart-close {
  display: none;
}

.help-background {
  position: absolute;
  @extend %flex-center-center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  transition-duration: $anim-duration;
}

.shopping-cart-hide .help-background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 90%;
  left: 45%;
  transform: scale(0);
  opacity: 0;
  transition-duration: $anim-duration;
}

.cart-background {
  position: relative;
  display: flex;
  flex-flow: column;
  width: auto;
  height: auto;
  background-image: url(../../images/others/dp-fon.jpg);
  background-color: rgb(231, 231, 231);
  color: $dark-text-color;
  padding: 10px;
  border: 3px solid rgb(20, 20, 20,);
  width: 1000px;
  max-width: 1000px;
  padding-bottom: 100px;
  max-height: 75%;
  transition-duration: $anim-duration;
}

.h2-title {
  margin-top: 10;
  text-align: right;
  font-size: 35px;
  padding-right: 50px;
  margin-bottom: 50px;
}

.order-list {
  flex-basis: auto;
  overflow-y: auto;
}

.row-div {
  display: grid;
  width: inherit;
  grid-template-columns: 1fr 1fr 1fr 100px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid $dark-text-color;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 7px;
  &:last-child {
    border-bottom: none;
  }
}

.cart-item-img {
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 2px rgb(0, 0, 0);
}

.cart-item-name {
  font-size: 30px;
  text-align: center;
}

.cart-item-count {
  text-align: center;
  width: auto;
  height: auto;
}

.btn-count-div {
  display: flex;
}

.btn-count {
  width: 35px;
  height: 35px;
  @extend %flex-center-center;
  background: none;
  color: $dark-text-color;
  padding: 0;
  margin: 0;
  border-color: $dark-text-color;
  border-style: solid;
}

.count {
  border-width: 1px;
}

.btn-minus, .btn-plus {
  outline: none;
  width: 37px;
  height: 37px; 
  border-top-width: 1px;
  border-bottom-width: 1px;
  cursor: pointer;
  transition-duration: $anim-duration;
}

.btn-minus {
  border-left-width: 1px;
  border-right: none;
  border-radius: 37px 0px 0px 37px;
  &:hover {
    color: $neutral-color;
    transition-duration: $anim-duration;
    background-color: $elem-dark-bg-color;
  }
}

.btn-plus {
  border-right-width: 1px;
  border-left: none;
  border-radius: 0px 37px 37px 0px;
  &:hover {
    color: $positive-color;
    transition-duration: $anim-duration;
    background-color: $elem-dark-bg-color;
  }
}

.btn-count-total {
  color: $light-text-color;
  @extend %flex-center-center;
  margin-top: 5px;
  background-color: $elem-dark-bg-color;
  height: 30px;
  border-radius: 30px;
}

.delete-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $dark-text-color;
  outline: none;
  background: none;
  color: $dark-text-color;
  font-size: 25px;
  transition-duration: $anim-duration;
  &:hover {
    color: $negative-color;
    background-color: $elem-dark-bg-color;
    border: none;
    transition-duration: $anim-duration;
    border-color: transparent;
  }
}

.delivery-div {
  height: 100px;
  min-height: 100px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin-top: 10px;
}

.delivery-check-form {
  label {
    width: 280px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: $anim-duration;
  }
}

.delivery-checkbox {
  display: none;
}

.delivery-checkbox + label::after {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $dark-text-color;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.delivery-checkbox:checked + label::after {
  background-image: url(../../images/others/check-solid.svg);
  border: 2px solid $light-text-color;
  background-color: $elem-dark-bg-color;
  transition-duration: $anim-duration;
  box-shadow: 0px 0px 3px 2px black;
}

.delivery-checkbox + label:hover::after {
  border: 2px solid $light-text-color;
  background-color: $elem-dark-bg-color;
  transition-duration: $anim-duration;
}

.delivery-checkbox + label:active::after {
  border: 2px solid $light-text-color;
  background-color: rgba(0, 0, 0, 0.9);
  transition-duration: $anim-duration;
}

/* total - items -deliery price styles */

.total {
  color: $light-text-color;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
  background-color: $elem-dark-bg-color;
  width: 220px;
}

.idt-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid $light-text-color;
  padding: 0px 15px;
  &:last-child {
    border-bottom: none;
  }
}

.idt-price-hide {
  display: none;
}

.close-btn-background {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  top: 0;
  right: 0;
  height: 25px;
  width: 90px;
}

.close-btn {
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $elem-dark-bg-color;
}

.hide {
  color: $neutral-color;
}

.wipe {
  color: $negative-color;
}

.back-to-shopping-div {
  @extend %flex-center-center;
  width: inherit;
  height: 50px;
}

.back-to-shopping-btn {
  position: absolute;
  width: 400px;
  height: 40px;
  color: $light-text-color;
  background: $elem-dark-bg-color;
  border: 2px solid $light-text-color;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  transition-duration: $anim-duration;
  cursor: pointer;
  &:hover {
    border-color: $dark-text-color;
    color: $dark-text-color;
    background-color: $elem-light-bg-color;
    transition-duration: $anim-duration;
  }
}

/* cart next/prev btns */

.cart-btns-BN {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 3px;
  width: 234px;
  align-self: center;
  margin-top: 20px;
  height: 34px;
}

.cart-btn-back {
  font-size: 25px;
  padding: 0;
  background-color: $elem-light-bg-color;
  color: $dark-text-color;
  border: 1px solid $dark-text-color;
  outline: none;
  cursor: pointer;
  transition-duration: $anim-duration;
  &:hover {
    background-color: $elem-dark-bg-color;
    color: $light-text-color;
    transition-duration: $anim-duration;
  }
}

.cart-btn-next {
  height: 34px;
  align-self: center;
  background-color: $elem-light-bg-color;
  color: $dark-text-color;
  border: 1px solid $dark-text-color;
  outline: none;
  cursor: pointer;
  transition-duration: $anim-duration;
  font-size: 17px;
  text-transform: uppercase;
  &:hover {
    background-color: $elem-dark-bg-color;
    color: $light-text-color;
    transition-duration: $anim-duration;
  }
}

.cart-btn-next-disable {
  background-color: rgb(206, 206, 206);
  color: rgb(90, 90, 90);
  pointer-events: none;
}

.cwi-btn {
  width: 234px;
  min-height: 34px;
}
