.pop-up-main {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  box-shadow: inset -10px 0px 10px 0px rgb(255, 208, 0);
  transform-origin: right;
  transform: scaleX(1);
  transition-duration: 0.2s;
}

.pop-up-main-hide {
  transform: scaleX(0);
  transition-duration: 0.2s;
}

.pop-up-name-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 75px;
  margin: 0;
}

.pop-up-ImDesc-div {
  display: flex;
  flex-flow: row;
  width: 95%;
  padding-top: 10px;
}

.pop-up-img-p-div {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
}

.pop-up-img-p-div img {
  height: 250px;
  border: 1px solid rgb(255, 208, 0);
}

.pop-up-p-div {
  color: white;
  width: 250px;
  padding: 0px;
  margin: 7px;
  border-bottom: 1px solid rgb(255, 208, 0);
}

.pop-up-p-div p {
  padding: 0px 10px;
  margin: 7px;
  font-size: 20px;
}

.pop-up-desc-div {
  width: 40%;
}

.pop-up-desc-div ul {
  padding: 0;
  margin-top: 0;
}

.pop-up-desc-div ul li {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  color: white;
  border-bottom: rgb(255, 208, 0) 1px solid;
}

.pop-up-desc-div ul li:first-child {
  border-top: 1px solid rgb(255, 208, 0);
}

.pop-up-btn-div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1;
}

.pop-up-btn-div button {
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(255, 208, 0);
  font-size: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.pop-up-btn-div button:first-child:hover {
  border-color: rgb(47, 255, 28);
  color: rgb(47, 255, 28);
  transition-duration: 0.2s;
}
.pop-up-btn-div button:last-child:hover {
  border-color: rgb(255, 28, 28);
  color: rgb(255, 28, 28);
  transition-duration: 0.2s;
}

.pop-up-btn-div button:first-child:active {
  border-color: rgb(37, 209, 21);
  color: rgb(37, 209, 21);
}

.pop-up-btn-div button:last-child:active {
  border-color: rgb(196, 22, 22);
  color: rgb(196, 22, 22);
}

