.select-place {
  margin-top: 1px;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.select-place-hide {
  display: none;
}

.select-div {
  width: 230px;
  font-size: 13px;
}

.select-div > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 5px;
  margin: 0;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: black 1px solid;
}

.select-arrow-down {
  transform: rotate(-180deg);
  transition-duration: 0.2s;
}

.select-arrow-up {
  transform: rotate(180deg);
  transition-duration: 0.2s;
}

.select-form {
  display: flex;
  position: absolute;
  flex-flow: column;
  width: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition-duration: 0.2s;
}

.select-form-up {
  transform-origin: bottom;
  bottom: 30px;
}

.select-form-hide {
  transform: scaleY(0);
  transition-duration: 0.2s;
}

.select-form > input {
  display: none;
}

.select-form > input:checked + label {
  margin-left: -8px;
  margin-right: 8px;
  z-index: 2;
}

.label-select {
  color: white;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.2s;
  padding: 5px 10px;
  cursor: pointer;
}

.label-select:hover {
  color: rgb(20, 20, 20);
  background-color: white;
  transition-duration: 0.2s;
}